
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Library Sign In</title>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Assets/Module.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <table class="table-bordered table table-hover">
            <tr>
                <td>Email</td>
                <td><input type="text" class="form-control" id="Email" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" class="form-control" id="Password" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="button" class="btn btn-xs btn-success" id="giris" value="Giriş" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
