
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="UserListApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Assets/Module.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
